<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/"  enctype="multipart/form-data">
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="form3Example3c">Venue Photo</label>
          <input type="file" name="venue_img" class="form-control" " required />
        </div>
      </div>
      <button type="submit">Submit
      </form>
</body>
</html>
