<nav class="navbar navbar-expand-lg navbar-light bg-light p-4 shadow ">
    <div class="navbar-brand " href="#">TicketEaze</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active d-block d-lg-none" >
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active d-block d-lg-none" >
            <a class="nav-link" href="#">Location</a>
        </li>
        <li class="nav-item active d-block d-lg-none" >
            <a class="nav-link" href="#">Sign In</a>
        </li>
        
        
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link" href="#">Contact</a>
        </li> 
        <li class="list-unstyled mx-3 d-lg-block  d-none">
            <div class="dropdown">
                <button type="button" class="btn btn-danger dropdown-toggle " data-toggle="dropdown" >
                Location</button>
  
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#">Chennai</a></li>
                    <li><a class="dropdown-item" href="#">Mumbai</a></li>
                    <li><a class="dropdown-item" href="#">Delhi</a></li>
                    <li><a class="dropdown-item" href="#">Kolkata</a></li>
                </ul>
                
            </div>
        </li>
        {% if current_user.is_authenticated %}
        <li class="list-unstyled mx-3 d-lg-block  d-none">
          <div class="dropdown">
              <button type="button" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown" >
              Profile</button>

              <ul class="dropdown-menu ">
                  <li class="dropdown-item"><b>Hi {{current_user.name}} !</b></li>
                  <li><a class="dropdown-item" href="/myorders">My Orders</a></li>
                  <li><a class="dropdown-divider" href="#"></a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
              
          </div>
      </li>
        <!-- <button class="btn btn-secondary" onclick="location.href='/logout'" >Logout</button>
        <div class="user_name mx-2 mt-2 h6">Hi {{ current_user.name }}!</div> -->
        <!-- <li class="mx-3 list-unstyled d-lg-block  d-none">
          <div class="dropdown">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" >
            Logout</button>

            <ul class="dropdown-menu ">
                <li class="dropdown-item">Hi {{ current_user.name }}!</li>
                <li><a class="dropdown-item" href="#">Logout</a></li>

                
            </ul>
            
          </div>  
        </li> -->
            <!-- Hi {{ current_user.name }}! -->
        {% else %}
        <li class="mx-3 list-unstyled d-lg-block  d-none">
          <div class="dropdown">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" >
            Sign In</button>

            <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="/login/user">User</a></li>
                <li><a class="dropdown-item" href="/login/admin">Admin</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/register">New User</a></li>
                
            </ul>
            
          </div>  
        </li>
        {% endif %}
        
      </ul>
    </div>
  </nav>