<nav class="navbar navbar-expand-lg navbar-light bg-light p-4 shadow ">
    <div class="navbar-brand " href="#">TicketEaze</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active d-block d-lg-none" >
          <a class="nav-link" href="#">Home</a>
        </li>
        
        <li class="nav-item active d-block d-lg-none" >
            <a class="nav-link" href="#">Log Out</a>
        </li>
        
        
        
          <li class="pt-2 nav-item d-none d-lg-block">Hello, Admin</li>
          <li class="list-unstyled mx-3 d-lg-block  d-none">
            <button type="button" class="btn btn-secondary">Log Out</button>
          </li>
      </ul>
    </div>
  </nav>