<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-4 shadow ">
        <div class="navbar-brand " href="#">TicketEaze</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active d-block d-lg-none" >
              <a class="nav-link" href="#">Home</a>
            </li>
            <!-- <li class="nav-item active d-block d-lg-none" >
                <a class="nav-link" href="#">Location</a>
            </li> -->
            <li class="nav-item active d-block d-lg-none" >
                <a class="nav-link" href="#">Log Out</a>
            </li>
            
            
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link" href="#">Contact</a>
            </li>  -->
            <!-- <li class="list-unstyled mx-3 d-lg-block  d-none">
                <div class="dropdown">
                    <button type="button" class="btn btn-danger dropdown-toggle " data-toggle="dropdown" >
                    Location</button>
      
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="#">Chennai</a></li>
                        <li><a class="dropdown-item" href="#">Mumbai</a></li>
                        <li><a class="dropdown-item" href="#">Delhi</a></li>
                        <li><a class="dropdown-item" href="#">Kolkata</a></li>
                    </ul>
                    
                </div>
            </li> -->
            <!-- <li class="mx-3 list-unstyled d-lg-block  d-none">
                <div class="dropdown">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" >
                  Sign</button>
                  <ul class="dropdown-menu ">
                      <li><a class="dropdown-item" href="#">User</a></li>
                      <li><a class="dropdown-item" href="#">Admin</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/register/">New User</a></li>
                  </ul>
                  
                </div>  
              </li> -->
              <li class="pt-2 nav-item d-none d-lg-block">Hello, Admin</li>
              <li class="list-unstyled mx-3 d-lg-block  d-none">
                <button type="button" class="btn btn-secondary">Log Out</button>
              </li>
          </ul>
        </div>
      </nav>


      <section class="p-5 bg-white" >
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-8 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Event Addition</p>
      
                      <form class="mx-1 mx-md-4" onsubmit="" method="post"  >
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <div class="form-label" for="form3Example1c">Event Type</div>
                            <!-- <input type="text" name="event_type" class="form-control" placeholder="Event Type" required/> -->
                            <select class="dropdown rounded-3 p-1" name="Event Type" id="event_type">
                              <option value="--select--"> --Select--</option>
                              <option value="Movie">Movie</option>
                              <option value="Comedy Shows">Comedy Shows</option>
                              <option value="Music Concerts">Music Concerts</option>
                            </select>
                          </div>
                        </div>
                        
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c">Event Name</label>
                            <input type="text" name="event_name" class="form-control" placeholder="Event Name" required/>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Event Description</label>
                            <textarea type="textarea" name="event_desc" class="form-control" placeholder="Event Description" required></textarea>
                          </div>
                        </div>

                       

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Event Location</label>
                            <input type="text" name="event_loc" class="form-control" placeholder="Event Location" required/>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Event Venue</label>
                            <input type="text" name="event_venue" class="form-control" placeholder="Event Venue" required/>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Event Photo</label>
                            <input type="file" name="event_img" class="form-control"  required />
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Ticket Price(In Rs.)</label>
                            <input type="number" name="event_price" class="form-control" placeholder="Ticket Price(In Rs.)"/>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example3c">Capacity</label>
                            <input type="number" name="event_capacity" class="form-control" placeholder="Event Capacity"/>
                          </div>
                        </div>
      
                        
      
                        
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn btn-success btn-md register-btn">Add Event</button>
                        </div>
      
                      </form>
      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      




      
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
</body>
</html>