{% extends "./Layouts/layout.html" %}

{% block content %}

{% include "./Layouts/navBarAdmin.html" %}


{% block EventList %}
<section class="w-100  bg-white p-5">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6 col-lg-4 col-xl-3 my-md-2 my-sm-2">
          <div class="card">
            <img src="/static/file_uploads/event/5.jpeg" width="250px" height="250px" alt="Image 1" class="card-img-top">
            <div class="card-body">
              <h4 class="card-title">Event_Name</h4>
              <a href="/management/event/edit" class="btn btn-primary">Edit Details</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 my-md-2 my-sm-2">
            <div class="card">
              <img src="/static/file_uploads/event/5.jpeg" width="250px" height="250px" alt="Image 1" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Event_Name</h4>
                <a href="" class="btn btn-primary">Edit Details</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 my-md-2 my-sm-2">
            <div class="card">
              <img src="/static/file_uploads/event/5.jpeg" width="250px" height="250px" alt="Image 1" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Event_Name</h4>
                <a href="" class="btn btn-primary">Edit Details</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 my-md-2 my-sm-2">
            <div class="card">
              <img src="/static/file_uploads/event/5.jpeg" width="250px" height="250px" alt="Image 1" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Event_Name</h4>
                <a href="" class="btn btn-primary">Edit Details</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 my-md-2 my-sm-2">
            <div class="card">
              <img src="/static/file_uploads/event/5.jpeg" width="250px" height="250px" alt="Image 1" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Event_Name</h4>
                <a href="" class="btn btn-primary">Edit Details</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 my-md-2 my-sm-2">
            <div class="card">
              <img src="/static/file_uploads/event/5.jpeg" width="250px" height="250px" alt="Image 1" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Event_Name</h4>
                <a href="" class="btn btn-primary">Edit Details</a>
              </div>
            </div>
          </div>
    </div>
    
  
  </section>



{% endblock EventList %}
{% endblock content %}