{% extends "./Layouts/layout.html" %}
{% block content %}

{% include "./Layouts/navBarAdmin.html" %}

{% block management %}

      <section class="p-5 ">
        <div class="container-sm h-100 d-sm-flex justify-content-sm-center align-items-sm-center">

          <div class="row p-3 justify-content-between ">

            <div class="card-container col-lg-5 my-3">
                <a href="./ManageEvent.html" class="link link-dark text-decoration-none">
                <div class="card p-lg-3 p-md-2 p-sm-1 p-1">
                  <img src="/static/Images/event-manage-pic.jpg" alt="Image 1" class="card-img-top">
                  <div class="card-body">
                    <h4 class="card-title text-center">Event Management</h4>
                   
                  </div>
                </div> 
              </a>
              </div>

            <div class="card-container col-lg-5 my-3">
            <a href="/management/venue" class="link link-dark text-decoration-none">
                <div class="card p-lg-3 p-md-2 p-sm-1 p-1">
                  <img src="/static/Images/venue2-manage-pic.jpg" alt="Image 1" class="card-img-top">
                  <div class="card-body">
                    <h4 class="card-title text-center">Venue Management</h4>
                    
                  </div>
                </div> 
              </a>
              </div>

          </div>
        </div>
      </section>
      

{% endblock management %}
{% endblock content %}


     