
{% extends "./Layouts/layout.html" %}
{% block content %}
{% include "./Layouts/navBarWithoutLogin.html" %}

{% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <script> alert("{{ message }}") </script>
    {% endfor %}
{% endwith %}  

{% block events %}
<section class="w-100  bg-white p-5">
  <div class="container">
    <div class="row py-3">
      <!-- <form action="/event/booktickets" method="post"> -->
      {% for i in range(numberofbookings) %}
      <div class="col-md-6 col-lg-4 col-xl-3 my-md-2 my-sm-2">
        <div class="card">
          <img src="/static/file_uploads/event/{{events[bookings[i][1]].id}}.jpeg" width="250px" height="250px" alt="Image 1" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{events[bookings[i][1]].name}}</h4>
            <p class="card-text">{{events[bookings[i][1]].shortdescription}}</p>
            <p class="card-text">₹{{events[bookings[i][1]].price}}</p>
            <p class="card-text">₹{{bookings[i][3]}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  

   
</section>
{% endblock events %}
{% endblock content %}


 <!-- User Logged in If 
  {% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %} -->